<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
  <div class="row">

    <div class="col-lg-8 my-5 container">
      <h1 class="display-4 text-center mt-5">Thiago Pecorari Clemente</h1>
      <ul class="nav justify-content-center">
        <li class="nav-item" style="font-size: 1.7em">
          <a href="https://www.facebook.com/thiago.pecorari1" target="blank" class="nav-link" onMouseOver="this.style.color='rgb(52, 58, 64)'" onMouseOut="this.style.color='rgb(86, 92, 99)'" style="color:rgb(86, 92, 99);"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li class="nav-item" style="font-size: 1.7em">
          <a href="https://github.com/Pecorari" target="blank" class="nav-link" onMouseOver="this.style.color='rgb(52, 58, 64)'" onMouseOut="this.style.color='rgb(86, 92, 99)'" style="color:rgb(86, 92, 99);"><i class="fab fa-github"></i></a>
        </li>
        <li class="nav-item" style="font-size: 1.7em">
          <a href="https://www.linkedin.com/in/thiago-pecorari-clemente-b3880b196/" target="blank" class="nav-link" onMouseOver="this.style.color='rgb(52, 58, 64)'" onMouseOut="this.style.color='rgb(86, 92, 99)'" style="color:rgb(86, 92, 99);"><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="nav-item" style="font-size: 1.7em">
          <a href="https://twitter.com/007_Mogli" target="blank" class="nav-link" onMouseOver="this.style.color='rgb(52, 58, 64)'" onMouseOut="this.style.color='rgb(86, 92, 99)'" style="color:rgb(86, 92, 99);"></i><i class="fab fa-twitter"></i></a>
        </li>
      </ul>
      <p class="text-center lead">Versão: 1.0.0</p>
    </div>

  </div>
</div>
<%- include('includes/footer') %>
